@app.route("/redeem", methods=["POST"])
def redeem():

    if not session.get("logged_in"):
        return redirect("/login")

    customer_id = request.form["customer_id"]
    id_number = int(customer_id[2:])

    conn = get_connection()
    cursor = conn.cursor()

    cursor.execute(
        f"SELECT points FROM customers WHERE id={p()}",
        (id_number,)
    )

    current_points = cursor.fetchone()[0]

    if current_points >= 150:

        cursor.execute(
            f"UPDATE customers SET points = points - 150 WHERE id={p()}",
            (id_number,)
        )

        cursor.execute(
            f"INSERT INTO transactions (customer_id, points, amount, reason) VALUES ({p()}, {p()}, {p()}, {p()})",
            (id_number, -150, -2, "Reward redeemed")
        )

        conn.commit()

        message = "Apply £2 discount on till"

    else:
        message = "Not enough points"

    conn.close()

    return render_template("redeem.html", message=message)
